@charset "utf-8";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#detail{
    height:600px;
    width:100%;
    border-top:2px solid #eee;
   
    
    .detail_img{
        margin-top:30px;
        float: left;
        width:374px;
        height:500px;
        //background:paleturquoise;
        border:2px solid #eee;
        margin-left:150px;
        padding:10px;
        img{
            height:350px;
        }
        .small_imges{
            height:100px;
            li{
                list-style: none;
                float: left;
                margin:7px;
                border:1px solid #ddd;
                border-radius: 2px;
                img{
                    width:100px;
                    height:110px;
                }
                :hover{
                    border:1px solid #666;
                }

            }
           
        }

    }

    .detail_mess{
        margin-top:30px;
        margin-left:80px;
        height:500px;
        width:600px;
        background:plum;
        float: left;
    }

}