@charset "utf-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header .row .shopcart {
  margin-top: 55px;
}
.header .row .shopcart b {
  padding-left: 80px;
  font-size: 12px;
  color: #333;
}
.header .row .shopcart p {
  padding-left: 80px;
  font-size: 10px;
  color: #333;
}
#shopes {
  width: 100%;
  border-top: 2px solid #ccc;
  border-bottom: 1px solid #ccc;
}
#shopes table {
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
}
#shopes table thead tr {
  height: 35px;
  border: 1px solid #eee;
  background: #fafafa;
}
#shopes table thead tr th {
  text-align: center;
}
#shopes table thead tr th:nth-child(1) {
  width: 5px;
  background: #ed145b;
}
#shopes table thead tr th:nth-child(2) {
  width: 55%;
  text-align: left;
  text-indent: 10px;
}
#shopes table tbody tr {
  height: 100px;
  border: 1px solid #eee;
}
#shopes table tbody tr td:nth-child(2) div {
  float: left;
  width: 100px;
  padding-left: 10px;
}
#shopes table tbody tr td:nth-child(2) div img {
  height: 60px;
  width: 60px;
}
#shopes table tbody tr td:nth-child(2) b {
  float: left;
  margin-left: 30px;
  font-weight: 400;
}
#shopes table tbody tr td:nth-child(2) b a {
  color: #222;
}
#shopes table tbody tr td:nth-child(2) b a:hover {
  color: #ed145b;
}
#shopes table tbody tr td:nth-child(2) p {
  font-size: 12px;
  padding-left: 130px;
  color: #999;
  margin-top: 10px;
}
#shopes table tbody td:nth-child(3) {
  text-align: center;
}
#shopes table tbody td:nth-child(4) {
  text-align: center;
}
#shopes table tbody td:nth-child(4) input {
  width: 150px;
  width: 40px;
  border: 1px solid #ccc;
  outline: none;
}
#shopes table tbody td:nth-child(5) {
  text-align: center;
}
#shopes table tbody td:nth-child(5) b {
  color: #ed145b;
}
#shopes table tbody td:nth-child(6) {
  text-align: center;
  color: #999;
}
#shopes table tfoot tr {
  height: 35px;
  border: 1px solid #eee;
  background: #fafafa;
}
#shopes table tfoot tr td:last-child {
  text-align: center;
}
#shopes table tfoot tr td:last-child span {
  font-size: 12px;
  color: #999;
}
#shopes table tfoot tr td:last-child b {
  color: #ed145b;
}
#shopes #count_btn {
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 60px;
  border: 1px solid #eee;
  background: #fafafa;
  line-height: 60px;
}
#shopes #count_btn input[type=checkbox] {
  margin-left: 10px;
}
#shopes #count_btn span {
  margin-left: 20px;
}
#shopes #count_btn span a {
  color: #222;
}
#shopes #count_btn span a:hover {
  color: #ed145b;
}
#shopes #count_btn b {
  margin-left: 400px;
  margin-right: 35px;
}
#shopes #count_btn b a {
  text-decoration: none;
  color: #ed145b;
  font-size: 18px;
}
#shopes #count_btn input[type=button] {
  height: 60px;
  width: 140px;
  border: none;
  background: #ed145b;
  color: #fff;
  text-align: center;
  margin-left: 11px;
  font-size: 18px;
  outline: none;
}
